@keyframes sleep {

    0%,
    50% {
        background-position: 0 0
    }

    50.00001%,
    to {
        background-position: 16.618% 0
    }
}

@keyframes wakeup {


    0%,
    20% {
        background-position: 33.236% 0
    }

    20.00001%,
    40% {
        background-position: 50.364% 0
    }

    40.00001%,
    60% {
        background-position: 66.47% 0
    }

    60.00001%,
    80% {
        background-position: 82.8% 0
    }

    80.00001%,
    to {
        background-position: 99.41% 0
    }
}

[class*="item_b3f026"][class*="themed_b3f026"][role="tab"] {
    display: flex;
    align-items: center;
    padding: 5px 8px;

    &:not(:has([class*="premiumLabel_e681d1"], [class*="tabBarItemContainer_c7e907"]))::before {
        content: "";
        width: var(--ssiSize);
        height: var(--ssiSize);
        margin-right: calc(var(--ssiSize) / 3);
        background: currentColor;
        mask: url();
    }

    & :is([class*="premiumLabel_e681d1"],
        [class*="tabBarItemContainer_c7e907"]) {
        flex-direction: row-reverse;
        align-items: center;
        gap: calc(var(--ssiSize) / 3);

        & svg {
            width: var(--ssiSize);
            height: var(--ssiSize);
        }
    }

    &[data-tab-id="My Account"]::before {
        mask: url("https://raw.githubusercontent.com/924e50c0/SettingsIcons/refs/heads/main/svg/account.svg") center/contain no-repeat !important;
    }

    &[data-tab-id="Profile Customization"]::before {
        mask: url("https://raw.githubusercontent.com/924e50c0/SettingsIcons/refs/heads/main/svg/profile.svg") center/contain no-repeat !important;
    }

    &[data-tab-id="Content & Social"]::before {
        mask: url("https://raw.githubusercontent.com/924e50c0/SettingsIcons/refs/heads/main/svg/social.svg") center/contain no-repeat !important;
    }

    &[data-tab-id="Data & Privacy"]::before {
        mask: url("https://raw.githubusercontent.com/924e50c0/SettingsIcons/refs/heads/main/svg/privacy.svg") center/contain no-repeat !important;
    }

    &[data-tab-id="Family Center"]::before {
        mask: url("https://raw.githubusercontent.com/924e50c0/SettingsIcons/refs/heads/main/svg/family.svg") center/contain no-repeat !important;
    }

    &[data-tab-id="Authorized Apps"]::before {
        mask: url("https://raw.githubusercontent.com/924e50c0/SettingsIcons/refs/heads/main/svg/permissions.svg") center/contain no-repeat !important;
    }

    &[data-tab-id="Sessions"]::before {
        mask: url("https://raw.githubusercontent.com/924e50c0/SettingsIcons/refs/heads/main/svg/devices.svg") center/contain no-repeat !important;
    }

    &[data-tab-id="Connections"]::before {
        mask: url("https://raw.githubusercontent.com/924e50c0/SettingsIcons/refs/heads/main/svg/connections.svg") center/contain no-repeat !important;
    }

    &[data-tab-id="Settings Clips"]::before {
        mask: url("https://raw.githubusercontent.com/924e50c0/SettingsIcons/refs/heads/main/svg/clips.svg") center/contain no-repeat !important;
    }

    &[data-tab-id="Nitro Server Boost"]::before {
        mask: url("https://raw.githubusercontent.com/924e50c0/SettingsIcons/refs/heads/main/svg/boost.svg") center/contain no-repeat !important;
    }

    &[data-tab-id="Subscriptions"]::before {
        mask: url("https://raw.githubusercontent.com/924e50c0/SettingsIcons/refs/heads/main/svg/subscriptions.svg") center/contain no-repeat !important;
    }

    &[data-tab-id="Library Inventory"]::before {
        mask: url("https://raw.githubusercontent.com/924e50c0/SettingsIcons/refs/heads/main/svg/gift.svg") center/contain no-repeat !important;
    }

    &[data-tab-id="Billing"]::before {
        mask: url("https://raw.githubusercontent.com/924e50c0/SettingsIcons/refs/heads/main/svg/billing.svg") center/contain no-repeat !important;
    }

    &[data-tab-id="Appearance"]::before {
        mask: url("https://raw.githubusercontent.com/924e50c0/SettingsIcons/refs/heads/main/svg/appearance.svg") center/contain no-repeat !important;
    }

    &[data-tab-id="Accessibility"]::before {
        mask: url("https://raw.githubusercontent.com/924e50c0/SettingsIcons/refs/heads/main/svg/accessibility.svg") center/contain no-repeat !important;
    }

    &[data-tab-id="Voice & Video"]::before {
        mask: url("https://raw.githubusercontent.com/924e50c0/SettingsIcons/refs/heads/main/svg/microphone.svg") center/contain no-repeat !important;
    }

    &[data-tab-id="Text & Images"]::before {
        mask: url("https://raw.githubusercontent.com/924e50c0/SettingsIcons/refs/heads/main/svg/chat.svg") center/contain no-repeat !important;
    }

    &[data-tab-id="Notifications"]::before {
        mask: url("https://raw.githubusercontent.com/924e50c0/SettingsIcons/refs/heads/main/svg/notifications.svg") center/contain no-repeat !important;
    }

    &[data-tab-id="Keybinds"]::before {
        mask: url("https://raw.githubusercontent.com/924e50c0/SettingsIcons/refs/heads/main/svg/keyboard.svg") center/contain no-repeat !important;
    }

    &[data-tab-id="Language"]::before {
        mask: url("https://raw.githubusercontent.com/924e50c0/SettingsIcons/refs/heads/main/svg/language.svg") center/contain no-repeat !important;
    }

    &[data-tab-id="Windows"]::before {
        mask: url("https://raw.githubusercontent.com/924e50c0/SettingsIcons/refs/heads/main/svg/windows.svg") center/contain no-repeat !important;
    }

    &[data-tab-id="Streamer Mode"]::before {
        mask: url("https://raw.githubusercontent.com/924e50c0/SettingsIcons/refs/heads/main/svg/stream.svg") center/contain no-repeat !important;
    }

    &[data-tab-id="Advanced"]::before {
        mask: url("https://raw.githubusercontent.com/924e50c0/SettingsIcons/refs/heads/main/svg/advanced.svg") center/contain no-repeat !important;
    }

    &[data-tab-id="Activity Privacy"]::before {
        mask: url("https://raw.githubusercontent.com/924e50c0/SettingsIcons/refs/heads/main/svg/incognito.svg") center/contain no-repeat !important;
    }

    &[data-tab-id="Game Activity"]::before {
        mask: url("https://raw.githubusercontent.com/924e50c0/SettingsIcons/refs/heads/main/svg/game.svg") center/contain no-repeat !important;
    }

    &[data-tab-id="Overlay"]::before {
        mask: url("https://raw.githubusercontent.com/924e50c0/SettingsIcons/refs/heads/main/svg/overlay.svg") center/contain no-repeat !important;
    }

    &[data-tab-id="changelog"]::before {
        mask: url("https://raw.githubusercontent.com/924e50c0/SettingsIcons/refs/heads/main/svg/notebook.svg") center/contain no-repeat !important;
    }

    &[data-tab-id="StartupTimings"]::before {
        mask: url("https://raw.githubusercontent.com/924e50c0/SettingsIcons/refs/heads/main/svg/stopwatch.svg") center/contain no-repeat !important;
    }

    &[data-tab-id="merchandise"]::before {
        mask: url("https://raw.githubusercontent.com/924e50c0/SettingsIcons/refs/heads/main/svg/merch.svg") center/contain no-repeat !important;
    }

    &[data-tab-id="Hypesquad Online"]::before {
        mask: url("https://raw.githubusercontent.com/924e50c0/SettingsIcons/refs/heads/main/svg/hypesquad.svg") center/contain no-repeat !important;
    }

    &[data-tab-id="VencordSettings"] {

        &::before {
            mask: unset !important;
            background-color: transparent !important;
            background-image: url("https://raw.githubusercontent.com/924e50c0/SettingsIcons/refs/heads/main/svg/oneko.svg") !important;
            background-size: cover;
            animation: sleep 1s infinite;
        }

        &:hover::before {
            animation: 2.5s 1 forwards wakeup;
        }
    }

    &[data-tab-id="VencordPlugins"]::before {
        mask: url("https://raw.githubusercontent.com/924e50c0/SettingsIcons/refs/heads/main/svg/plugins.svg") center/contain no-repeat !important;
    }

    &[data-tab-id="VencordThemes"]::before {
        mask: url("https://raw.githubusercontent.com/924e50c0/SettingsIcons/refs/heads/main/svg/theme.svg") center/contain no-repeat !important;
    }

    &[data-tab-id="VencordUpdater"]::before {
        mask: url("https://raw.githubusercontent.com/924e50c0/SettingsIcons/refs/heads/main/svg/update.svg") center/contain no-repeat !important;
    }

    &[data-tab-id="VencordCloud"]::before {
        mask: url("https://raw.githubusercontent.com/924e50c0/SettingsIcons/refs/heads/main/svg/cloud.svg") center/contain no-repeat !important;
    }

    &[data-tab-id="VencordSettingsSync"]::before {
        mask: url("https://raw.githubusercontent.com/924e50c0/SettingsIcons/refs/heads/main/svg/backup.svg") center/contain no-repeat !important;
    }

    &[data-tab-id="Vesktop"]::before {
        mask: url("https://raw.githubusercontent.com/924e50c0/SettingsIcons/refs/heads/main/svg/settings.svg") center/contain no-repeat !important;
    }

    &[data-tab-id="Experiments"]::before {
        mask: url("https://raw.githubusercontent.com/924e50c0/SettingsIcons/refs/heads/main/svg/experiments.svg") center/contain no-repeat !important;
    }

    &[data-tab-id="Developer Options"]::before {
        mask: url("https://raw.githubusercontent.com/924e50c0/SettingsIcons/refs/heads/main/svg/developer.svg") center/contain no-repeat !important;
    }

    &[data-tab-id="Hotspot Options"]::before {
        mask: url("https://raw.githubusercontent.com/924e50c0/SettingsIcons/refs/heads/main/svg/hotspot.svg") center/contain no-repeat !important;
    }

    &[data-tab-id="Dismissible Content Options"]::before {
        mask: url("https://raw.githubusercontent.com/924e50c0/SettingsIcons/refs/heads/main/svg/dismiss.svg") center/contain no-repeat !important;
    }

    &[data-tab-id="Payment Flow Modals"]::before {
        mask: url("https://raw.githubusercontent.com/924e50c0/SettingsIcons/refs/heads/main/svg/money.svg") center/contain no-repeat !important;
    }

    &[data-tab-id="Revenue Storybook"]::before {
        mask: url("https://raw.githubusercontent.com/924e50c0/SettingsIcons/refs/heads/main/svg/wallet.svg") center/contain no-repeat !important;
    }

    &[data-tab-id="Virtual Currency Configuration"]::before {
        mask: url("https://raw.githubusercontent.com/924e50c0/SettingsIcons/refs/heads/main/svg/currency.svg") center/contain no-repeat !important;
    }

    &[data-tab-id="Design System"]::before {
        mask: url("https://raw.githubusercontent.com/924e50c0/SettingsIcons/refs/heads/main/svg/design.svg") center/contain no-repeat !important;
    }

    &[data-tab-id="Text Playground"]::before {
        mask: url("https://raw.githubusercontent.com/924e50c0/SettingsIcons/refs/heads/main/svg/text_edit.svg") center/contain no-repeat !important;
    }

    &[data-tab-id="Text Component"]::before {
        mask: url("https://raw.githubusercontent.com/924e50c0/SettingsIcons/refs/heads/main/svg/text.svg") center/contain no-repeat !important;
    }

    &[data-tab-id="Intl Testing"]::before {
        mask: url("https://raw.githubusercontent.com/924e50c0/SettingsIcons/refs/heads/main/svg/intl.svg") center/contain no-repeat !important;
    }

    &[data-tab-id="Profile Effects Preview Tool"]::before {
        mask: url("https://raw.githubusercontent.com/924e50c0/SettingsIcons/refs/heads/main/svg/stars.svg") center/contain no-repeat !important;
    }

    &[data-tab-id="Nameplates Preview Tool"]::before {
        mask: url("https://raw.githubusercontent.com/924e50c0/SettingsIcons/refs/heads/main/svg/plate.svg") center/contain no-repeat !important;
    }

    &[data-tab-id="Web Setting Tree Tool"]::before {
        mask: url("https://raw.githubusercontent.com/924e50c0/SettingsIcons/refs/heads/main/svg/web.svg") center/contain no-repeat !important;
    }

    /* server options */
    &[data-tab-id="OVERVIEW"]::before {
        mask: url("https://raw.githubusercontent.com/924e50c0/SettingsIcons/refs/heads/main/svg/info.svg") center/contain no-repeat !important;
    }

    &[data-tab-id="PROFILE"]::before {
        mask: url("https://raw.githubusercontent.com/924e50c0/SettingsIcons/refs/heads/main/svg/profile.svg") center/contain no-repeat !important;
    }

    &[data-tab-id="ENGAGEMENT"]::before {
        mask: url("https://raw.githubusercontent.com/924e50c0/SettingsIcons/refs/heads/main/svg/chart.svg") center/contain no-repeat !important;
    }

    &[data-tab-id="BOOST_PERKS"]::before {
        mask: url("https://raw.githubusercontent.com/924e50c0/SettingsIcons/refs/heads/main/svg/boost.svg") center/contain no-repeat !important;
    }

    &[data-tab-id="EMOJI"]::before {
        mask: url("https://raw.githubusercontent.com/924e50c0/SettingsIcons/refs/heads/main/svg/emoji.svg") center/contain no-repeat !important;
    }

    &[data-tab-id="STICKERS"]::before {
        mask: url("https://raw.githubusercontent.com/924e50c0/SettingsIcons/refs/heads/main/svg/sticker.svg") center/contain no-repeat !important;
    }

    &[data-tab-id="SOUNDBOARD"]::before {
        mask: url("https://raw.githubusercontent.com/924e50c0/SettingsIcons/refs/heads/main/svg/sound.svg") center/contain no-repeat !important;
    }

    &[data-tab-id="MEMBERS"]::before {
        mask: url("https://raw.githubusercontent.com/924e50c0/SettingsIcons/refs/heads/main/svg/members.svg") center/contain no-repeat !important;
    }

    &[data-tab-id="ROLES"]::before {
        mask: url("https://raw.githubusercontent.com/924e50c0/SettingsIcons/refs/heads/main/svg/flag.svg") center/contain no-repeat !important;
    }

    &[data-tab-id="INVITES"]::before {
        mask: url("https://raw.githubusercontent.com/924e50c0/SettingsIcons/refs/heads/main/svg/letter.svg") center/contain no-repeat !important;
    }

    &[data-tab-id="INSTANT_INVITES"]::before {
        mask: url("https://raw.githubusercontent.com/924e50c0/SettingsIcons/refs/heads/main/svg/letter.svg") center/contain no-repeat !important;
    }

    &[data-tab-id="ACCESS"]::before {
        mask: url("https://raw.githubusercontent.com/924e50c0/SettingsIcons/refs/heads/main/svg/access.svg") center/contain no-repeat !important;
    }

    &[data-tab-id="INTEGRATIONS"]::before {
        mask: url("https://raw.githubusercontent.com/924e50c0/SettingsIcons/refs/heads/main/svg/connections.svg") center/contain no-repeat !important;
    }

    &[data-tab-id="APP_DIRECTORY"]::before {
        mask: url("https://raw.githubusercontent.com/924e50c0/SettingsIcons/refs/heads/main/svg/explore.svg") center/contain no-repeat !important;
    }

    &[data-tab-id="MODERATION"]::before {
        mask: url("https://raw.githubusercontent.com/924e50c0/SettingsIcons/refs/heads/main/svg/shield.svg") center/contain no-repeat !important;
    }

    &[data-tab-id="AUDIT_LOG"]::before {
        mask: url("https://raw.githubusercontent.com/924e50c0/SettingsIcons/refs/heads/main/svg/notebook.svg") center/contain no-repeat !important;
    }

    &[data-tab-id="BANS"]::before {
        mask: url("https://raw.githubusercontent.com/924e50c0/SettingsIcons/refs/heads/main/svg/hammer.svg") center/contain no-repeat !important;
    }

    &[data-tab-id="GUILD_AUTOMOD"]::before {
        mask: url("https://raw.githubusercontent.com/924e50c0/SettingsIcons/refs/heads/main/svg/broom.svg") center/contain no-repeat !important;
    }

    &[data-tab-id="PERMISSIONS"]::before {
        mask: url("https://raw.githubusercontent.com/924e50c0/SettingsIcons/refs/heads/main/svg/permissions.svg") center/contain no-repeat !important;
    }

    &[data-tab-id="COMMUNITY"]::before {
        mask: url("https://raw.githubusercontent.com/924e50c0/SettingsIcons/refs/heads/main/svg/community.svg") center/contain no-repeat !important;
    }

    &[data-tab-id="GUILD_TEMPLATES"]::before {
        mask: url("https://raw.githubusercontent.com/924e50c0/SettingsIcons/refs/heads/main/svg/wireframe.svg") center/contain no-repeat !important;
    }
}
